.enter-code-step {
  .otp-container {
    width: 200px;
    margin: 30px auto;
  }

  .resend-email {
    margin: 30px 0;
    text-align: center;

    .send-again-email {
      color: black;
    }
  }
}
