.email-sent-message-container {
  background: white;
  width: 600px;
  height: 400px;
  margin: 100px auto;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
