.website-navbar {
  width: 100%;
  // max-width: 1140px;
  height: 80px;
  // background: aliceblue;
  padding: 0 20px;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: auto;
    height: 100%;
  }
}

.logo-container {
  width: 150px;
  background-color: aquamarine;
  height: 50px;
}

.nav-link-list {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 600;
}
