.forgot-password-page {
  width: 500px;
  margin: 100px auto 0;
  background-color: white;
  border-radius: 20px;
  padding: 30px;

  .button-container {
    display: flex;
    margin-top: 70px;
    width: 100%;

    .continue-btn {
      width: 100%;
    }
  }

  .back-btn {
    text-align: center;
    color: black;
    margin: 30px auto 0;
    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}
