.explore-page {
  .explore-page-content {
    padding: 50px;
    max-width: 1200px;
    margin: auto;

    .product-card {
      position: relative;

      .wish-btn {
        position: absolute;

        right: 10px;
        top: 10px;
      }

      .is-active {
        color: red;
      }
    }

    .explore-card-actions {
      width: 100%;
      display: inline-flex;
      gap: 30px;

      button {
        min-width: unset;
      }
    }
  }
}
