@use '../../../styles/index.scss' as *;

.custom-uppy-dashboard .uppy-Dashboard-inner {
  background-color: $bg-base; // page background
  border-radius: $radius-lg;
  padding: $spacing-5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 130px !important;
  margin: 50px auto;
  border-style: dashed;
}

.custom-uppy-dashboard .uppy-DashboardContent {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.custom-uppy-dashboard .uppy-Dashboard-AddFiles {
  color: #333;
  font-size: 16px;
}
