@use '../../../../styles/index.scss' as *;

.qb-editor {
  display: grid;
  gap: $spacing-2;
  // margin-top: $spacing-6;

  .qb-row {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    .group .form-input {
      margin-bottom: 0;
    }

    .answer-actions {
      max-width: 0;
      opacity: 0;
      display: flex;
      align-items: center;
      gap: $spacing-2;
      transition:
        max-width $transition-slow,
        opacity $transition-slow;

      &.visible {
        max-width: 300px;
        opacity: 1;
      }

      .is-correct-container {
        width: 140px;
      }
    }

    &.ghost {
      opacity: 0.7;
      animation: qb-slide-in-up $transition-normal;
    }
  }
}

@keyframes qb-slide-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
