@use '../../../styles/index.scss' as *;

.vp-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: $spacing-2 $spacing-4;
  color: var(--text-primary);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all $transition-fast;
  user-select: none;
  background-color: var(--surface-2);
  min-width: 80px;
  border: 2px solid transparent;

  &__square {
    border-radius: $radius-sm;
  }

  &__round {
    border-radius: 50%;
    aspect-ratio: 1;
  }

  &__primary {
    background-color: var(--brand-primary);
    color: var(--text-muted);
  }

  &__secondary {
    border-color: var(--brand-secondary);
    background-color: transparent;
    // color: var(--text-secondary);
  }

  &__tertiary {
    background-color: var(--brand-secondary);
  }

  &__danger {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--error);
    color: var(--error);
  }

  &__remove {
    border: unset;
    padding: unset;
    color: var(--error);
    background: transparent;

    &:hover {
      color: var(--error)-light;
    }
  }

  &__neutral {
    background-color: unset;
    border: unset;
    color: var(--brand-primary);
  }

  &.loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: var(--text-secondary);
  }

  &:focus-visible {
    box-shadow:
      0 0 0 2px rgba(15, 15, 45, 1),
      /* offset buffer */ 0 0 0 4px var(--focus-ring);
  }
}
