@use '../../../../../styles/index.scss' as *;
@use 'sass:color';

// .add-product-btn {
//   padding: 15px 30px;
//   border-radius: 5px;
//   color: white;
//   background-color: black;

//   &:hover {
//     background-color: color.scale(black, $lightness: 20%);
//   }
// }

.products-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.products-filter-row {
  display: inline-flex;
  width: 100%;
  gap: $spacing-3;
  margin-bottom: $spacing-6;
  justify-content: space-between;

  .filters {
    flex: 1;
    display: inline-flex;
    gap: $spacing-3;

    .search-input {
      max-width: 350px;
    }
  }

  .sort-select {
    width: 170px;
  }
}

.products-grid {
  display: grid;
  width: 100%;
  gap: $spacing-3;
}
