@use '../../../../../../styles/index.scss' as *;
@use 'sass:color';

.products-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.products-grid {
  display: grid;
  width: 100%;
  gap: $spacing-3;
}
