@use '../../../../styles/index.scss' as *;

.landing-page {
  section {
    max-width: $bp-desktop;
    margin: auto;
  }

  .hero-section-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    // background: url('../../../../../public/images/hero-bg-layer.webp')
    //   center/cover no-repeat;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   background: url('../../../../../public/images/stars.webp') center/cover
    //     no-repeat;
    //   mix-blend-mode: color-dodge;
    //   opacity: 0.4;
    //   z-index: -1;
    // }

    .hero-section {
      height: calc(100vh - 80px);
      top: 80px;
      position: relative;
      // height: 100vh;
      // padding: 120px 0;
      // display: flex;
      width: 100%;
      // justify-content: space-between;

      // .hero-header,
      // .hero-subtext {
      //   width: 500px;
      // }

      // .hero-content,
      // .hero-image {
      //   width: calc(50% - 30px);
      // }

      .hero-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
        justify-content: center;

        .hero-cta {
          width: 200px;
          height: 48px;
          border-radius: 8px;
          margin-top: 30px;
        }
      }

      .hero-image {
        width: 70%;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -1;
        transform: translateY(-50%);
      }
    }
  }

  .video-section {
    background-color: rgb(199, 199, 199);
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    border-radius: 20px;

    .video-container {
      width: 80%;
      margin: auto;
      height: 400px;
      background-color: gray;
      border-radius: 12px;
    }
  }

  .services-section {
    margin-top: 120px;

    .services-header {
      margin-bottom: 80px;
      text-align: center;
    }

    .services {
      display: flex;
      width: 100%;
      gap: 30px;
      justify-content: center;
      text-align: center;

      .service-container {
        position: relative;
        width: 400px;
        padding: 40px;
        border-radius: 12px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(196, 196, 196, 0.45) 40%,
          rgba(153, 153, 153, 1) 100%
        );

        .service-icon {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -80px);
          background-color: #c9c8c5;
        }
        .service-header {
          margin: 30px 0;
        }
      }
    }
  }

  .features-section {
    background-color: #c9c8c5;
    width: 100%;
    max-width: unset;
    margin-top: 120px;
    padding: 60px 0;

    .features-wrapper {
      max-width: 1480px;
      margin: auto;

      .features-header {
        text-align: center;
      }

      .features-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 950px;
        margin: 30px auto 0;

        .feature-container {
          background-color: #e9e9e9;
          padding: 40px;
          text-align: center;
          border-radius: 12px;

          .feature-header {
            margin-bottom: 30px;
          }

          .feature-icon {
            background-color: grey;
            width: 100px;
            height: 100px;
            margin: auto;

            &__email {
              margin-bottom: 30px;
            }

            &__branding {
              margin-top: 30px;
            }
          }

          &__analitics {
            grid-area: 2 / 1 / 3 / 3;

            display: flex;
            width: 100%;
            gap: 30px;

            .analitics-text {
              width: 400px;
            }

            .branding-image {
              flex: 1;
            }
          }

          &__branding {
            grid-area: 1 / 2 / 2 / 3;
          }

          &__email {
            grid-area: 1 / 1 / 2 / 2;
          }
        }
      }
    }
  }

  .cta-section {
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .cta-subtext {
      width: 600px;
      text-align: center;
    }

    .btns-container {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  }
}
