@use '../../../../styles/index.scss' as *;

.landing-page {
  margin: 0;
  min-height: 100vh;

  .hero-header {
    display: flex;
    align-items: center;
    gap: $spacing-4;
  }

  // .section-glass {

  // }

  .section-surface {
    background:
      radial-gradient(
        circle at 20% 20%,
        rgba(58, 46, 111, 0.18),
        transparent 55%
      ),
      linear-gradient(180deg, var(--surface-1) 0%, var(--surface-0) 100%);
  }

  .section-calm {
    background: linear-gradient(
      0deg,
      var(--surface-1) 0%,
      var(--surface-0) 100%
    );
  }

  // .section-calm--inverse {
  //   background: linear-gradient(
  //     180deg,
  //     var(--surface-1) 0%,
  //     var(--surface-0) 100%
  //   );
  // }

  // .has-grain {
  //   position: relative;
  //   overflow: hidden;
  // }
  // .has-grain::after {
  //   content: '';
  //   position: absolute;
  //   inset: 0;
  //   // background: url('../../../../../public/images/grain.webp') center/cover
  //   //   repeat;
  //   opacity: var(--overlay-grain);
  //   pointer-events: none;
  //   mix-blend-mode: overlay;
  // }

  .section-subtext {
    font-size: 14px;
  }

  .hero-section-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../../../../public/images/hero-bg-con-galaxy.webp')
      center/cover no-repeat;

    .hero-section {
      height: calc(100vh - 80px);
      top: 80px;
      position: relative;
      width: 100%;

      .hero-content {
        padding-top: calc(3 * $spacing-7);

        .hero-subtext {
          max-width: 600px;
          font-size: 1.2rem;
        }

        .hero-actions {
          display: flex;
          flex-direction: column;
          gap: $spacing-5;
          width: fit-content;
          margin-top: $spacing-9;

          .launch-action {
            width: 300px;
          }

          .see-action {
            width: 250px;
          }
        }
      }
    }
  }

  .trust-section {
    padding: 0 $spacing-7 $spacing-8;
  }

  .about-sec-content {
    text-align: center;
    width: 550px;
    margin: $spacing-5 auto 0;

    .asc-nos,
    .asc-justs,
    .asc-last {
      margin-top: $spacing-3;
    }
  }

  .features-section {
    // background-color: #c9c8c5;
    width: 100%;
    // max-width: unset;
    // margin-top: 120px;
    // padding: 60px 0;
  }

  .cta-section {
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .cta-subtext {
      width: 600px;
      text-align: center;
    }

    .btns-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $spacing-2;
      margin-top: $spacing-4;
    }
  }
}
