@use '../../../../styles/index.scss' as *;

.page-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  .subtitle {
    font-size: 14px;
  }

  .header-actions {
    display: flex;
    gap: $spacing-4;

    .vp-btn {
      width: 150px;
    }
  }
}
