@use '../../../styles/variables' as *;
@use 'sass:color';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  width: 100%;
}

.input-label {
  font-size: 12px;
  color: $text-secondary;
  margin-left: $spacing-3;
}

.input-row {
  width: 100%;
  position: relative;

  .input-prefix {
    position: absolute;
    left: 14px;
    top: 14px;
  }

  .input-field {
    width: 100%;
    padding: $spacing-4 $spacing-5;
    background-color: $bg-base;
    border: 1px solid $bg-elevated;
    color: $text-primary;
    border-radius: $radius-lg;
    font-size: 1rem;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border-color: $accent-primary;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
    }

    &.input-error {
      border-color: $error;
    }

    &.readOnly {
      background: transparent;
      border-color: $bg-base;
      pointer-events: none;
      box-shadow: 0 0 0 2px rgba($bg-base, 0.15);

      &:focus {
        border-color: $bg-base;
        box-shadow: 0 0 0 2px rgba($bg-base, 0.75);
      }
    }

    &.disabled {
      background-color: color.scale($bg-base, $lightness: 3%);
      color: $text-secondary;
      pointer-events: none;
    }
  }

  .input-suffix {
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .input-with-prefix {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.input-error-message {
  color: $error;
  font-size: 0.75rem;
}
