@use '../../../styles/index' as *;
@use 'sass:color';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  width: 100%;
}

.input-label {
  font-size: 12px;
  color: var(--text-secondary);
  margin-left: $spacing-3;
}

.input-row {
  width: 100%;
  position: relative;

  .input-prefix {
    position: absolute;
    left: 14px;
    top: 14px;
  }

  .input-field {
    width: 100%;
    padding: $spacing-4 $spacing-5;
    background-color: var(--surface-0);
    border: 1px solid var(--surface-1);
    color: var(--text-primary);
    border-radius: $radius-lg;
    font-size: 1rem;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border-color: var(--brand-primary);
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
    }

    &.input-error {
      border-color: var(--error);
    }

    &.readOnly {
      background: transparent;
      border-color: var(--surface-0);
      pointer-events: none;
      box-shadow: 0 0 0 2px rgba(var(--surface-0), 0.15);

      &:focus {
        border-color: var(--surface-0);
        box-shadow: 0 0 0 2px rgba(var(--surface-0), 0.75);
      }
    }

    &.disabled {
      background-color: var(--surface-disabled);
      color: var(--text-disabled);
      pointer-events: none;
    }
  }

  .input-suffix {
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .input-with-prefix {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.input-error-message {
  color: var(--error);
  font-size: 0.75rem;
}
