@use '../../../styles/index.scss' as *;

.course-editor-wrapper {
  border: 1px solid var(--ambient-cyan);
  border-radius: 4px;
  padding: 0.5rem;
}

.rte-content {
  min-height: 300px;
  padding: 0.5rem;
  border: 1px solid var(--brand-secondary);
  border-radius: 4px;
  background: var(--surface-0);

  .ProseMirror-focused {
    outline: none;
  }
}

/* TipTap injects contenteditable divs—these styles help it look decent by default: */
.editor-content p {
  margin: 0.75rem 0;
}
