@use 'variables' as *;
@use 'typography' as *;
@use 'spacing' as *;

.error-text-red {
  color: var(--error);
  font-size: $size-xsmall;
}

.gal-huge-header {
  font-size: $size-xxl;
}

.gal-big-header {
  font-size: $size-xl;
}

.gal-medium-header {
  font-size: $size-h1;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider-default);
  margin: $spacing-2 0 $spacing-5;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.4;
  }
}
