@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
}

.error-text-red {
  color: red;
  font-size: 11px;
}
