.breadcrumb-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin-left: 150px;
  align-items: center;
}

.breadcrumb-current {
  position: relative;
  display: inline-block;
  /* padding: 0.75em 1.5em 0.75em 3em; */
  padding: 5px 10px;
  margin: 0 1em;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  /* border-radius: 4px; */
  letter-spacing: 1px;
}

.breadcrumb-element {
  position: relative;
  display: inline-block;
  /* padding: 0.75em 1.5em 0.75em 3em; */
  padding: 5px 10px 5px 25px;
  margin: 0 1em;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-weight: 100;
  /* border-radius: 4px; */
  letter-spacing: 1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; /* Adjust this to move the arrow tip closer or farther */
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid white;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -9px; /* Adjust this to move the arrow tip closer or farther */
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #555; /* Same color as the button background */
  }
}
