.product-page {
  padding: 50px 0;

  .product-banner {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    gap: 40px;
    justify-content: space-between;
  }

  .product-details {
    width: 80%;
    margin: auto;
    padding-top: 50px;
  }
}
