@use '../../../styles/index.scss' as *;

.search-form {
  display: flex;
  max-width: 800px;
  min-width: 450px;
  min-height: 40px;
  position: relative;

  .search-input {
    border: unset;
    outline: unset;
    width: 100%;
    padding-left: 60px;
    border-radius: $radius-lg;
    box-shadow: $shadow-sm;
    border: 2px solid transparent;
    background:
      linear-gradient($bg-surface, $bg-surface) padding-box,
      linear-gradient(175deg, $accent-secondary-light, $accent-primary-dark)
        border-box;
    color: $text-primary;
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    // -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    // -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .search-button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 20px;
    // background-color: transparent;
    // border: none;
    cursor: pointer;
    // color: var(--primary-color);
  }
}
