@use '../../styles/variables' as *;

.product-card {
  background: $bg-elevated;
  border-radius: $radius-md;
  padding: $spacing-4;
  border: 1px solid $neutral-medium;
  display: inline-flex;
  width: 100%;
  gap: $spacing-4;

  .product-card-image {
    width: 100px;
    height: 100px;
    border-radius: $radius-sm;
  }

  .product-card-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-card-header {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
    }

    .status-wrapper {
      display: flex;
      gap: $spacing-6;
      align-items: flex-start;

      .last-update {
        font-size: 12px;
        color: $text-secondary;
      }
    }

    .card-row {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      margin-top: auto;
      align-items: flex-end;

      .product-card-btns {
        display: flex;
        gap: $spacing-3;
        margin-left: auto;
      }
    }
  }
}
