@use '../../../styles/index.scss' as *;

.consultation-details {
  max-width: 800px;

  .inline-fields {
    display: inline-flex;
    width: 100%;
    gap: $spacing-4;
  }

  .sentence-field {
    display: inline-flex;
    width: 100%;
    gap: $spacing-2;
    margin-top: $spacing-4;
    margin-left: $spacing-2;
    align-items: center;

    .sentence-input {
      width: 80px;
    }

    .info-popover {
      margin-left: $spacing-4;
    }
  }

  .cancellation-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
