@use '../../../../styles/index.scss' as *;

.website-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 10;

  .navbar-content {
    max-width: $bp-desktop;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
      width: 150px;
      background-color: aquamarine;
      height: 50px;
    }

    .nav-link-list {
      display: flex;
      list-style: none;
      gap: 30px;
      font-weight: 600;

      .dashboard-link {
        font-size: 14px;
      }
    }
  }
}
