@use '../../../../styles/index.scss' as *;

.website-navbar {
  width: 100%;
  max-width: $bp-desktop;
  height: 80px;
  justify-self: center;
  padding: 0 20px;
  margin: auto;
  position: absolute;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: auto;
    height: 100%;

    .logo-container {
      width: 150px;
      background-color: aquamarine;
      height: 50px;
    }

    .nav-link-list {
      display: flex;
      list-style: none;
      gap: 30px;
      font-weight: 600;
    }
  }
}
