@use '../../../styles/variables' as *;

.status-chip {
  padding: $spacing-2;
  display: flex;
  background-color: $bg-elevated;
  border-radius: $radius-md;
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
  font-weight: 700;
  color: $text-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;

  &__draft {
    background-color: $accent-secondary;
  }

  &__published {
    color: $text-primary;
    background-color: $success;
  }
}
