.dashboard-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;

  .app-nav-links {
    display: flex;
    gap: 40px;
  }
}

.dashboard-outlet {
  padding: 50px;
  width: 80%;
  margin: auto;
}
