.sidebar-nav {
  background-color: #2d3e50;
  height: 100%;
  width: 160px;
  color: white;
  box-shadow: 3px 0px 5px -3px rgba(0, 0, 0, 0.1);

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: #2d3e50;
    margin: auto;
    width: 100%;
    color: white;
  }

  ul {
    margin: 30px;
    list-style: none;

    .sidebar-link {
      color: white;
    }
  }
}
