@use '../../../styles/index.scss' as *;

.course-lessons-header {
  display: flex;
  width: 100%;
  // justify-content: left;
  margin: $spacing-6 0 $spacing-3;
  align-items: center;
  gap: $spacing-7;
}

.add-lesson-button {
  display: inline-flex;
  gap: $spacing-2;
  width: 200px;
}
