@use '../../../styles/index.scss' as *;

.builder-sidebar {
  background: rgba($color: var(--surface-1), $alpha: 0.4);
  border-radius: $radius-md;
  border: 2px solid transparent;
  background:
    linear-gradient(var(--surface-2), var(--surface-2)) padding-box,
    /* inner layer */
      linear-gradient(135deg, var(--surface-0), var(--brand-secondary))
      border-box; /* gradient border */
  width: 240px;
  min-height: 500px;

  .builder-sidebar-tabs {
    list-style: none;
    padding: $spacing-5;

    .sidebar-tab {
      line-height: 3rem;
      color: var(--text-primary);
      display: inline-flex;
      gap: $spacing-2;

      &__active {
        color: var(--brand-primary);
      }
    }

    .sidebar-outline-section {
      margin-left: $spacing-3;
      line-height: 2rem;
      color: var(--text-primary);
      display: inline-flex;
      gap: $spacing-2;
    }

    .builder-sidebar-outline-lessons {
      list-style: none;

      .sidebar-outline-lesson {
        margin-left: $spacing-6;
        line-height: 1.5rem;
        color: var(--text-primary);
        display: inline-flex;
        gap: $spacing-2;
      }
    }
  }
}
