// @import './../../styles/variables';
@use '../../../styles/index.scss' as *;
@use 'sass:color';

.vp-button {
  // background-color: $primary-color;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  height: 48px;
  min-width: 200px;

  &--primary {
    background-color: $primary-color;
    transition: background 0.3s;

    &:hover {
      // background-color: darken($primary-color, 10%);
      background-color: color.scale($primary-color, $lightness: -10%);
    }
  }

  &--secondary {
    border: 1px solid $primary-color;
    color: $primary-color;
    transition: border-color 0.3s;

    &:hover {
      // border-color: darken($primary-color, 10%);
      border-color: color.scale($primary-color, $lightness: -10%);

      // color: darken($primary-color, 10%);
      color: color.scale($primary-color, $lightness: -10%);
    }
  }

  &[disabled] {
    background-color: grey;
    // color: $disabled-text-color;
    opacity: 0.6;
    cursor: not-allowed;
  }
}
