@use '../../../styles/index.scss' as *;

.filter-row {
  display: inline-flex;
  width: 100%;
  gap: $spacing-3;
  margin-bottom: $spacing-6;
  justify-content: space-between;

  .filters {
    flex: 1;
    display: inline-flex;
    gap: $spacing-3;

    .search-input {
      max-width: 350px;
    }
  }

  .sort-select {
    width: 170px;
  }
}
