@use '../../../../styles/index.scss' as *;

.review-card {
  background: var(--surface-1);
  border-radius: $radius-md;
  padding: $spacing-4;
  border: 1px solid var(--divider-default);
  display: inline-flex;
  width: 100%;
  gap: $spacing-4;
  // justify-content: space-between;

  .review-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    min-width: 300px;
    max-width: 300px;

    .user-container {
      display: flex;
      width: 280px;
      gap: $spacing-3;
      height: fit-content;

      .customer-details {
        display: flex;
        flex-direction: column;
        // gap: $spacing-1;

        .customer-name {
          font-weight: 500;
          // padding: 0;
        }

        .customer-email {
          font-size: 12px;
          color: var(--text-secondary);
        }
      }
    }

    .product-details {
      display: flex;
      gap: $spacing-4;
      align-items: center;
      margin-top: auto;

      .product-name {
        word-wrap: break-word;
      }
    }
  }

  .rating-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .rating-row {
      display: flex;
      gap: $spacing-7;

      .visibility-container {
        position: relative;
        font-size: 14px;
        color: var(--text-primary);
        margin-bottom: $spacing-1;

        &::before {
          content: '';
          position: absolute;
          left: -15px;
          top: 9px;
          height: 8px;
          width: 8px;
          background-color: var(--success);
          border-radius: 50%;
        }

        &__hidden {
          color: var(--text-secondary);

          &::before {
            background-color: var(--warning);
          }
        }
      }
    }

    .date-row {
      margin-top: auto;
      color: var(--text-secondary);
      font-size: 12px;
      display: flex;
      gap: $spacing-2;
    }
  }

  .box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;

    .reply-row {
      display: flex;
      margin-top: $spacing-2;
      font-size: 12px;
      color: var(--text-secondary);
      gap: $spacing-2;

      .reply-action {
        color: var(--text-primary);
        font-size: 12px;
        transition: color $transition-fast;

        &:hover {
          color: var(--ambient-cyan);
        }
      }
    }
  }
}
