@use 'sass:color';

.multi-step-container {
  width: 800px;
  height: 90%;
  background-color: #080025;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .step-container {
    margin: 25px auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;

    .step-header {
      margin-bottom: 20px;
      text-align: center;
    }

    .step-content {
      // background-color: white;
      border-radius: 10px;
      padding: 20px;

      .onboarding-input-label {
        margin-left: 20px;
      }

      .onboarding-form-input {
        border-radius: 20px;
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        background-color: #160d35;
        border: none;
        font-size: 16px;
        color: white;
        margin-top: 5px;
        transition: all 0.2s ease;
        outline: 1px solid transparent;

        &__bio {
          min-height: 150px;
          max-width: 100%;
          line-height: 18px;
          font-family: inherit;
          padding-top: 15px;
        }

        &__error {
          outline-color: rgba(255, 0, 0, 0.444) !important;
        }

        &:focus {
          outline: 1px solid white;
        }
      }

      .form-field-error {
        margin-top: -20px;
        margin-left: 25px;
        font-size: 13px !important;
        color: rgba(255, 123, 123, 0.745) !important;
      }
    }
  }

  .step-action-buttons {
    margin-top: auto;
    display: flex;
    gap: 15px;
    justify-content: flex-end;

    button {
      color: white;
    }

    .primary-step-btn {
      background-color: black;
      padding: 20px 30px;
      border-radius: 10px;

      &:hover {
        background-color: color.scale(black, $lightness: 10%);
      }
    }
  }
}

// .step {
//   height: 100%;
//   display: flex;
//   flex-direction: column;

//   .step-action-buttons {
//     margin-top: auto;
//     display: flex;
//     gap: 15px;
//     justify-content: flex-end;

//     button {
//       color: white;
//     }

//     .primary-step-btn {
//       background-color: black;
//       padding: 20px 30px;
//       border-radius: 10px;

//       &:hover {
//         background-color: color.scale(black, $lightness: 10%);
//       }
//     }
//   }
// }
