@use '../../../styles/index.scss' as *;

.galactica-dropdown {
  display: inline-block;
  position: relative;

  .galactica-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;
    width: 150px;
    background-color: $bg-surface;
    border-radius: $radius-md;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
}
