.settings-page {
  .settings-tab-content {
    // width: 700px;

    .category-subheading-line {
      display: inline-flex;
      width: 100%;
      gap: 20px;
      color: black;
      opacity: 0.5;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 11px;
      margin-bottom: 12px;

      .category-line {
        flex: 1;
      }
    }

    .settings-input-wrapper {
      max-width: 700px;

      .settings-input-label {
        margin-left: 20px;
        font-size: 14px;
        opacity: 0.8;
      }

      .settings-form-input {
        max-width: 700px;
        border-radius: 20px;
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        background-color: white;
        border: none;
        font-size: 16px;
        color: black;
        margin-top: 5px;
        transition: all 0.2s ease;
        outline: 1px solid transparent;

        &__bio {
          min-height: 150px;
          // max-width: 100%;
          line-height: 18px;
          font-family: inherit;
          padding-top: 15px;
        }

        &:focus {
          outline: 1px solid white;
        }
      }

      .form-field-error {
        margin-top: -20px;
        margin-left: 25px;
        font-size: 13px !important;
        color: rgba(255, 123, 123, 0.745) !important;
      }
    }
  }
}
