.type-box__disabled {
  pointer-events: none;
  opacity: 0.5;
}


.course-continue-button-wrapper {
  width: 100%;
  
  .create-course-continue-button {
    margin: 20px auto;
    display: block;
  }
}