@use '../../../styles/index.scss' as *;

.tabs {
  .tabs-header {
    display: flex;
    width: 100%;

    .tab-button {
      padding: $spacing-3 $spacing-4;
      border-bottom: 1px solid $accent-secondary;
      color: $text-primary;
      font-size: 11px;
      transition: all $transition-fast;

      &__active {
        border-radius: $radius-sm;

        border-color: transparent;
        background-color: $accent-primary;
      }
    }

    .tab-full-space {
      flex: 1;
    }
  }

  .tab-content {
    padding-top: 30px;
  }
}
