.explore-page {
  .explore-page-content {
    padding: 50px;
    max-width: 1200px;
    margin: auto;

    .explore-card-actions {
      width: 100%;
      display: inline-flex;
      gap: 30px;

      button {
        min-width: unset;
      }
    }
  }
}
