.dev-dashboard {
  padding: 40px;
  max-width: 1200px;
  margin: auto;

  .dev-dashboard-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .nav-links {
      display: flex;
      gap: 20px;
    }
  }

  .dev-dashboard-main {
    margin-top: 40px;

    .dev-dashboard-hello {
      width: 800px;

      p:nth-of-type(even) {
        // margin-left: 100px;
        margin: 50px;
      }
    }

    .dev-panel-content {
      padding: 30px 50px;

      h3 {
        margin-top: 0;
      }

      .dev-group {
        margin-left: 40px;
      }

      .dev-item-box {
        display: grid;
        grid-template-columns: 450px 150px 250px; /* three fixed-width columns */
        grid-template-rows: auto auto; /* two rows, height by content */
        gap: 1rem;
        align-items: center;
        margin-top: 20px;

        .item-box-header {
          grid-column: 1; /* first column */
          grid-row: 1;
        }

        .method {
          grid-column: 2;
          grid-row: 1;
          font-weight: bold;
          color: #333;
        }

        .route-info {
          grid-column: 3; /* third column */
          grid-row: 1;
        }

        .item-box-content {
          grid-column: 1 / -1; /* span from column line 1 to the last column line */
          grid-row: 2;
          margin-left: 30px;

          ul {
            font-size: 14px;

            ul,
            ol {
              margin-left: 20px;
            }
          }

          ol {
            margin-left: 40px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
